tABLE{
    border: 2px solid black;
}
tD{
    border: 2px solid black;
}
tH{
    border: 2px solid black;
}
/* h2{
    color: crimson;
} */
#Jogonnath{
    font-size: 19px;
    color: darkgreen;
    font-weight: 800;

}